<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/views/index.hbs">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/views/van.hbs">Vincent van Gogh <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/views/pablo.hbs">Pablo Picasso</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/views/dali.hbs">Salvador Dalí</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/views/vinci.hbs" tabindex="-1" aria-disabled="true">Leonardo da Vinci</a>
      </li>
    </ul>
  </div>
</nav>